/* .parent {
  border: 2px dashed red;
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.child {
  width: 100px;
  height: 100px;
  font-weight: 700;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child1 {
  background-color: blueviolet;
}

.child2 {
  background-color: green;
}

.child3 {
  background-color: brown;
} */

header {
  padding: 24px 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

a {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-image {
  background-image: url("../images/banner.jpg");
  width: 100%;
  height: 606px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 31px;
}

h1 {
  font-size: 79px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 19px;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.fa-facebook-f {
  color: blue;
  font-size: 40px;
}

.fa-youtube {
  color: red;
  font-size: 40px;
}
